*{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    color: #18518B;
}
body{
    background-color: #F8F9FA;
}
#mainHeader{
    color: #006535;
    display: block;
    text-align: center;
    padding: 1.3em;
    font-size: 4em;
}
ul{
    background-color: #F79C0F;
}
a{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
a:hover{
    color: #8EA604;
    transition: color 0.5s;
}
#voegByText{
    padding: 1em 0em;
}
#inputButton{
    background-color: #8EA604;
    color: white;
    height: 40px;
    width: 6em;
    border: 1px solid black;
}
#nuweKultivarInput{
   width: 10em;
   height: 2em;
   display: inline-block;
}
#nuweKultivarButton{
    background-color: #8EA604;
    color: white;
    height: 1.8em;
    width: 2em;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
}

#nuweKultivarButton:hover,#inputButton:hover, .addToHistoryToggle:hover{
    background-color: #F79C0F;
    transition: background-color 1s;
} 

.fruitData{
    display: none;
    padding:2em;
}
@media screen and (max-width: 1000px){
    .fruitInfo{
        font-size: 80%;
    }
    #nuweKultivar{
        margin-left: 8em;
        display: flex;
    }
}
#kultivarOptions{
    width: 13em;
    height: auto;
}
/* Shows when something is added */
.fruitDataDisplay{
    padding-top: 3em;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 0 auto;
    text-align: center;
}

/* Added html through javascript */
#data{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.addedData{
    height: 3em;
    text-align: center;
    border-top: 1px solid  #8EA604;
    border-bottom:1px solid  #8EA604;
    padding-top: 1.2em;
    position: relative;
}
/* Button for removing added items */
#removeButton{
    background-color: lightcoral;
    position: absolute;
    height: 2.5em;
    width: 3em;
    right: 0;
    top: 2px;
    
}
/* Activates when there is something displayd in table */
.addButton{
    display: none;
}
.addToHistoryToggle{
    margin: 0 auto;
    display: block;
    margin-top: 4em;
    height: 2em;
    width: 12em;
    background-color:  #8EA604;
    color: white;
    border: 1px solid black;
    font-size: larger;
}
